<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/laticobsa_db</property>
    <property name="hibernate.connection.username">sgranda</property>
    <property name="hibernate.connection.password">sgranda</property>
    <mapping resource="com/laticobsa/modelo/LcNotas.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcGestiones.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTransaccionesHist.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcCuotas2.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcRoles.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTiposDireccion.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTipoGestion.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcCargos.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcGestiones3.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcZonas.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTransacciones.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcAgencia.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LloacanaPyccaOficiales.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcFormapagoRecaudacion.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcCuotas.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDatosDeudores3.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcGenero.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcInstitucion.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcEmpresa.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDatosDeudores2.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LloacanaPyccaPagos.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTransacciones2.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcUsuarios.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcSucursal.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTiposTelefono.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTipoFormaPago.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDireccion.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDocumentos.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/ChiharuPkPagos.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTipoCredito.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcEstadoCivil.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcModuloRol.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcPiccaTmp.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcCiudad.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcParametros.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDetRecaudaciones.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcRecordatorios.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcParroquias.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcGestiones2.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/VwConsultaCartera.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTipoPersona.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcAsignacioPiccaTmp.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcEstatus.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcExcepcionIdentificaciones.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcEmpleados.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcCiudades2.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcArticulo.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcGestiones4.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTipoReferencia.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcCompromisosPago.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcProvincia.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDatosDeudores.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcClientes.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcModulos.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcRecaudaciones.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcPais.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDetCampanias.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTelefonos.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcReferencias.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTipoResultado.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcTiposIdentificacion.hbm.xml"/>
    <mapping resource="com/laticobsa/modelo/LcDeudor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
